@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  background: #eeeeee;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 14px;
}

@layer base {
  html {
    background-color: white;
    color: black;
  }
}
